
body{
  font-family:montserrat;
  margin-top: 30px;
  background: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5));
  background-image: url(quiz-new.jpg);
  background-size: cover;
  background-position: center;
}
input[type='text']
{
  color:black;
  background : transparent;
  border:0;
  outline:0;
  border-bottom: 1px solid black;
  margin-top: 10px;
  padding: 10px;
}
input[type="submit"]{
  color: #e8e8e8;
  background-color: black;
  border: 1px solid white;
  margin-top: 20px;
  cursor: pointer;
  padding: 10px 25px;
  transition: 0.5s;
}
input[type="submit"]:hover{
  background-color: white;
  border: 1px solid white;
  color: black;
}
.opbox1{

  background-color: rgba(211,211,211,0.5);
  background-origin:padding-padding-box;|border-box|content-box|initial|center;
  padding: 50px;

}
